.galleryImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
    animation: fadeOut 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

.galleryImage:hover {
    cursor: url('/pointer.svg') 28 32, pointer;
    color: var(--pureWhite);
}