.hero {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: hidden;
    position: relative;
}

.hero h1 {
    color: var(--green800);
}

.hero p {
    font-size: var(--subHeadingLg);
    color: var(--pureWhite);
    opacity: 70%;
    font-weight: normal;
    line-height: 110%;
    margin-bottom: 30px;
    width: 400px;
    letter-spacing: -1px;
}

.hero button {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero button:hover, .hero button:focus, .hero button:focus-visible {
    box-shadow: none;
}

@media (max-width: 1600px) {
    .hero {
        height: 90vh;
        max-height: 90vh;
    }
}

@media (max-width: 1160px) {
    .hero {
        height: 80vh;
        max-height: 80vh;
    }
    .hero h1 {
        font-size: 90px;
    }
    .hero p {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .hero {
        height: 50vh;
    }
    .hero h1 {
        font-size: 58px;
    }
    .hero p {
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    .hero {
        width: 100%;
        height: 65vh;
    }
    .hero h1 {
        font-size: 83px;
    }
}

.collection-hero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20vh;
    margin-bottom: 100px;
}

.collection-hero h2 {
    background: linear-gradient(90deg, #9954F0 0%, #6B11DC 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin: 0 20px;
    line-height: 90%;
}

.collection-hero p {
    color: var(--midGray400);
    font-size: var(--subHeadingLg);
    width: 80%;
    margin-left: 10%;
    line-height: 100%;
}

.collection-hero span {
    color: var(--midGray600);
    font-size: var(--subHeadingSm);
}

@media (max-width: 1200px) {
    .collection-hero h2 {
        font-size: 58px;
    }
    .collection-hero p {
        width: 100%;
        margin-left: 0;
        padding: 0 20px;
    }
}

@media (max-width: 768px) {
    .collection-hero h2 {
        font-size: var(--h2Mobile);
    }
    .collection-hero p {
        font-size: var(--subHeadingMd);
    }
    .collection-hero span {
        font-size: var(--subHeadingSm);
    }
}