.custom-button-outline, .custom-button-primary, .custom-button-outline-sm {
    background: var(--midGray900);
    border: 1px solid #7C808A;
    border-radius: 25px;
    display: inline-block;
    /* padding: 20px 22px; */
    color: var(--pureWhite);
    font-size: var(--subHeadingMd);
    font-weight: 400;
    height: 50px;
    padding: 0 20px;
}

.custom-button-primary {
    background: var(--green900);
    padding: 19px 30px;
    font-weight: 400;
    display: inline;
}

.custom-button-outline-sm {
    background: var(--midGray900);
    font-size: var(--subHeadingSm);
    font-weight: normal;
    font-style: normal;
    line-height: 130%;
    height: 40px;
    padding: 0 20px;
}

.custom-button-primary:hover,
.custom-button-outline:hover,
.custom-button-outline-sm:hover {
    background: var(--pureWhite);
    border-color: var(--pureWhite);
    color: var(--midGray900);
}

.custom-button-outline:focus,
.custom-button-primary:focus,
.custom-button-outline-sm:focus {
    box-shadow: none;
    border-color: var(--pureWhite);
    outline: 0;
}

.custom-button-outline:focus-visible,
.custom-button-primary:focus-visible,
.custom-button-outline-sm:focus-visible {
    box-shadow: none;
    outline: 0;
}

.custom-button-arrow {
    width: 88px;
    height: 38px;
    border-radius: 8px;
    background: var(--midGray700);
}

.custom-button-arrow:hover {
    background: var(--midGray600);
}

.custom-button-svg, .custom-button-svg-num {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--midGray750);
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-button-svg-num {
    width: 100px;
    height: 60px;
    background: var(--midGray700);
    fill: var(--midGray400);
    color: var(--midGray400);
    border-radius: 30px;
}

.custom-button-svg-num:hover {
    background: var(--midGray800);
    color: var(--midGray200);
    fill: var(--midGray200);
}

.custom-button-svg .badge {
    width: 16px;
    height: 16px;
    position: absolute;
    top: -4px;
    right: 8px;
    z-index: 4;
}

.custom-button-text {
    background: var(--midGray750);
    height: 50px;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    color: var(--pureWhite);
    font-size: var(--subHeadingMd);
    font-family: Platform;
    font-weight: 400;
    font-style: normal;
}

.custom-button-text.active {
    background: var(--pureWhite);
    color: var(--midGray900);
}

.custom-button-text-primary,
.custom-button-text-secondary,
.custom-button-text-underlined,
.custom-button-text-tertiary {
    background: linear-gradient(90deg, #9954F0 0%, #6B11DC 100%);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color: var(--pureWhite);
    font-size: var(--subHeadingMd);
    font-family: Platform;
}

.custom-button-text-primary:hover {
    background: linear-gradient(90deg, #A366F2 0%, #7A2AE0 100%);;
}

.custom-button-text-secondary {
    background: var(--midGray700);
}

.custom-button-text-secondary:hover {
    background: var(--midGray800);
}

.custom-button-text-underlined {
    background: transparent;
    border-radius: 0;
    border: 1px solid transparent !important;
    height: 100%;
}

.custom-button-text-underlined:hover {
    border-bottom: 1px solid var(--pureWhite) !important;
}

.custom-button-text-tertiary {
    background: linear-gradient(90deg, #9954F0 0%, #6B11DC 100%);
}

.custom-button-text-tertiary:hover {
    background: linear-gradient(90deg, #A366F2 0%, #7A2AE0 100%);
}

.custom-badge {
    background: var(--pureWhite);
    border-radius: 15px;
    padding: 2px 12px;
    text-align: center;
}

.custom-link {
    display: inline-flex;
    align-items: center;
    color: var(--purple500);
    font-size: var(--subHeadingLg);
}

.custom-link span {
    border: 1px solid var(--purple500);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.custom-link span:hover {
    background: var(--purple500);
    color: var(--pureWhite);
}

.custom-divider {
    background: var(--pureWhite);
    opacity: .32;
    height: 1px;
    width: 100%; 
}

.custom-flexible-divider {
    width: 80%;
    margin-left: 10%;
}

@media (max-width: 1200px) {
    .custom-flexible-divider {
        width: calc(100% - 40px);
        margin-left: 20px;
    }
}

.custom-progress p {
    font-size: var(--subHeadingLg);
    font-family: Platform;
    font-weight: 400;
    font-style: normal;
    color: var(--pureWhite);
}

.custom-progress span {
    font-size: var(--textMd);
    color: var(--midGray400);
}

.custom-progress .custom-box-filled {
    width: 10px;
    height: 10px;
    background: var(--pureWhite);
}

.custom-progress .custom-box-unfilled {
    width: 10px;
    height: 10px;
    background: var(--midGray700);
}

@media (max-width: 768px) {
    .custom-progress span {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .custom-progress .custom-box-filled,
    .custom-progress .custom-box-unfilled {
        width: 6px;
        height: 6px;
    }
}

.logo {
    width: 208px;
    height: 28px;
}

.hamburger {
    display: none;
    width: 30px;
    height:  30px;
    fill: var(--pureWhite);
}

.hamburger:hover, .hamburger:focus {
    fill: var(--purple500);
}

.horizontal-carousel {
    position: absolute;
    padding: 0px;
    left: -300px;
    width: calc(100% + 300px);
    height: 114px;
    overflow-x: hidden;
    margin: 0;
}

/* Vertical Carousel */
.custom-carousel-col-1  {
    position: absolute;
    right: 220px;
    top: -200px;
    width: 200px;
    z-index: 0;
}

.custom-carousel-col-2 {
    position: absolute;
    padding-left: 20px;
    right: 50px;
    top: -250px;
    width: 200px;
    z-index: 0;
}

.carousel-image-box {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 16px;
    z-index: 0;
}

.custom-carousel-col-1 {
    right: 270px;
}
.custom-carousel-col-2 {
    right: 50px;
}

.carousel-image-box > img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    border: 4px solid var(--pureWhite);
}

@media (max-width: 1600px) {
    .carousel-image-box {
        width: 160px;
        height: 160px;
    }
    .logo {
        width: 204px;
        height: 28px;
    }
    .custom-carousel-col-1 {
        right: 220px;
    }
    .custom-carousel-col-2 {
        right: 50px;
    }
}

@media (max-width: 1160px) {
    .custom-carousel-col-1 {
        right: 120px;
    }
    .custom-carousel-col-2 {
        right: 0px;
    }
    .carousel-image-box {
        width: 114px;
        height: 114px;
    }
}

@media (max-width: 1024px) {
    .custom-carousel-col-1 {
        right: 100px;
    }
    .custom-carousel-col-2 {
        right: 0px;
    }
    .carousel-image-box {
        width: 100px;
        height: 100px;
    }
    .hamburger {
        display: block;
    }
}

@media (max-width: 768px) {
    .custom-carousel-col-1 {
        right: 90px;
    }
    .carousel-image-box {
        width: 90px;
        height: 90px;
    }
    .logo {
        width: 120px;
        height: 16px;
    }
    .hamburger {
        width: 22px;
        height: 22px;
    }
}

@media (max-width: 576px) {
    .carousel-image-box {
        width: 114px;
        height: 114px;
    }
}