.partners {
    height: 243px;
    background: var(--midGray750);
    width: 96%;
    margin: 2vh 2% 2vh 2%;
    border-radius: 30px;
    align-items: center;
}

@media (max-width: 1024px) {
    .partners {
        width: 100%;
        margin: 2vh 0;
    }
}

.partners img:hover {
    opacity: 70%;
    cursor: pointer;
}