.nav-bar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--midGray900);
}

.top-nav-bar {
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.nav-bar .top-nav-bar {
    position: relative;
}

.nav-bar h2 {
    font-size: 90px;
    color: var(--purple500);
}

.nav-bar p {
    font-size: var(--subHeadingSm);
    font-weight: 400;
    color: var(--midGray400);
    line-height: 70%;
}

.top-nav-bar a {
    font-size: var(--subHeadingLg);
    color: var(--pureWhite);
    font-weight: bold;
}

.top-nav-bar a:hover {
    color: var(--midGray50);
}

.top-nav-bar .nav-menu {
    background: var(--midGray800);
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 50px;
}

.mobile-button {
    display: block;
}

@media (max-width: 1024px) {
    .top-nav-bar {
        padding-right: 40px;
    }
    .top-nav-bar .nav-menu, .mobile-button {
        display: none;
    }
}

@media (max-width: 640px) {
    .nav-bar h2 {
        font-size: 58px;
    }
}

.top-nav-bar .nav-menu .nav-menu-item {
    padding: 20px 0;
}

.top-nav-bar .nav-menu .nav-menu-item a {
    color: var(--pureWhite);
    font-size: var(--subHeadingMd);
    font-weight: 400;
    line-height: 120%;
}

.top-nav-bar .nav-menu .nav-menu-item span {
    padding: 0 20px;
    color: var(--midGray600);
    font-size: var(--subHeadingMd);
}

.top-nav-bar .nav-menu .nav-menu-item a:hover {
    color: var(--midGray200);
}

.modal.nav-bar h2:hover {
    cursor: pointer;
}