.card {
    height: 839px;
    width: 96%;
    min-width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2vh;;
    background: var(--midGray750);
    border-radius: 30px;
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow-y: hidden;
}

.card-collection {
    height: 839px;
    width: 96%;
    min-width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2vh;;
    background: var(--midGray750);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.card-collection .card-collections {
    width: 300%;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.card-collection:hover {
    cursor: pointer;
}

.card-grid {
    display: grid;
    grid-template-columns: 40% 60%;
}

@media (max-width: 576px) {
    .card-grid {
        display: flex;
        flex-direction: column;
    }
}

.card .card-image, .card-collection .card-image {
    width: 513px;
    height: 513px;
}

.card .card-full-image {
    width: 100%;
    height: 100%;
}

.card h2, .card-collection h2 {
    line-height: 90%;
    text-align: left;
}

.card h3, .card-collection h3 {
    text-align: left;
    line-height: 90%;
}

.card p, .card-collection p {
    color: var(--midGray400);
    font-size: var(--textLg);
    font-family: sans-serif;
    text-align: left;
    line-height: 100%;
}

@media (max-width: 1600px) {
    .card, .card-collection {
        height: 619px;
    }
    .card .card-image, .card-collection .card-image {
        width: 393px;
        height: 393px;
    }
}

@media (max-width: 1160px) {
    .card, .card-collection {
        height: 481px;
    }
    .card .card-image, .card-collection .card-image {
        width: 255px;
        height: 255px;
    }
    .card h2, .card-collection h2 {
        font-size: 58px;
    }
    .card h3, .card-collection h3 {
        font-size: 32px;
    }
    .card p, .card-collection p {
        font-size: 18px;
    }
}

@media (max-width: 1024px) {
    .card, .card-collection {
        height: 476px;
        width: 100%;
        margin-left: 0;
    }
    .card .card-image, .card-collection .card-image {
        width: 330px;
        height: 330px;
    }
}

@media (max-width: 992px) {
    .card .card-image, .card-collection .card-image {
        width: 230px;
        height: 230px;
    }
}

@media (max-width: 768px) {
    .card, .card-collection {
        height: 346px;
        grid-template-columns: 30% 70%;
    }
}

@media (max-width: 576px) {
    .card, .card-collection {
        height: 560px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    .card .card-full-image, .card-collection .card-full-image {
        height: 230px;
        width: 100%;
    }
    .card .card-image, .card-collection .card-image {
        width: 150px;
        height: 150px;
    }
    .card h2, .card-collection h2 {
        font-size: 40px;
    }
}
