.collectionCard {
    width: 896px;
    margin: 0 auto;
    margin-top: 295px;
}

@media (max-width: 992px) {
    .collectionCard {
        width: 96%;
        margin: 0 2%;
    }
}

.collectionSubHeadingLayout {
    margin: 100px 0;
}

.collectionSubHeadingLayout h3 {
    background: var(--purpleGradient1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    line-height: 100%;
    text-align: left;
    font-weight: 400;
    font-style: normal;
}

.collectionSubHeadingLayout p {
    font-size: var(--textLg);
    color: var(--pureWhite);
    line-height: 130%;
    text-align: left;
}

.collectionSubHeadingLayout span {
    font-size: var(--textMd);
    color: var(--midGray400);
    width: 50%;
    margin-left: 50%;
    text-align: left;
    font-family: Helvetica;
}

@media (max-width: 1200px) {
    .collectionSubHeadingLayout h3,
    .collectionSubHeadingLayout p,
    .collectionSubHeadingLayout span {
        width: 100%;
        margin-left: 0;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 768px) {
    .collectionSubHeadingLayout h3 {
        font-size: 32px;
    }
    .collectionSubHeadingLayout p {
        font-size: 22px;
    }
    .collectionSubHeadingLayout span {
        font-size: 18px;
    }
}

.collectionGallery {
    width: 96%;
    height: 200px;
    margin-left: 2%;
    background: var(--purpleGradient1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.collectionGallery:hover, .collectionGallery:focus {
    opacity: 90%;
    cursor: pointer;
}

@media (max-width: 768px) {
    .collectionGallery {
        height: 100px;
    }
}
