.gallery {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px 0;
}

.gallery p {
    font-family: Platform;
}

.galleryNotFound {
    background: var(--purpleGradient1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 16px;
}

.galleryResetFilter {
    color: var(--pureWhite);
    font-size: 26px;
    text-align: center;
    text-decoration: underline;
}
